@model PayUMoneyGatway.Models.RequestData

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("BuyNow", "Home", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>Name</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>@Html.EditorFor(x => x.Mobile)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.EditorFor(x => x.Email)</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>@Html.EditorFor(x => x.Amount)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Pay" />
            </td>
        </tr>
    </table>
}


